<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <div class="dropdown">
            <button class="dropbtn">Profile</button>
            <div class="dropdown-content">
                <a (click)="goToProfile()">My Profile</a>
                <a (click)="goToTargetRole()">My Target Role</a>
            </div>
        </div>      <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My MBO</button>
            <div class="dropdown-content">
                <a (click)="goToTarget()">Personal Targets</a>
                <a (click)="goToClientFeedback()">Client Feedback</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" class="active">My Qualification</button>
            <div class="dropdown-content">
                <a *ngIf="employee && (employee.isCoach || employee.isCoachee)" class="active" type="button"
                    (click)="goToCompare()">Compare</a>


                <a (click)="goToMyRating()">Ratings Over Time</a>

            </div>
        </div>
        <div class="dropdown">

            <button class="dropbtn">Employees</button>
            <div class="dropdown-content">
                <a (click)="goToAssistance()">Assistance</a>
                <a (click)="goToSearchByPersonalTarget()">Search By Personal Target</a>
                <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
                    <a (click)="goToSearch()">Search By Skill & Rating</a>
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="employee && employee.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </ng-container>
            </div>
        </div>
<button><a type="button" (click)="onLogout()">Logout</a></button>
    </div>
</div>
<div class="container">
    <h1 class="title">Qualification Comparison: Measure Your Progress and Expand Your Insight</h1>
    <p class="slogan">Gain valuable insights by comparing your qualifications with target roles</p>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let profileRole of profileRoleList">

                <td class="coachee-name">{{ profileRole.roleName }}</td>
                <td class="coachee-name">{{ profileRole.description }}</td>
                <td class="search">
                    <button (click)="compareWith(profileRole.idProfileRole)">Compare with</button>
                </td>

            </tr>

        </tbody>
    </table>
</div>
<div>
    <canvas id="ratingChart"></canvas>
</div>