<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <div class="dropdown">
            <button class="dropbtn">Profile</button>
            <div class="dropdown-content">
                <a (click)="goToProfile()">My Profile</a>
                <a (click)="goToTargetRole()">My Target Role</a>
            </div>
        </div>      <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn" class="active">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a class="active" (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My MBO</button>
            <div class="dropdown-content">
                <a (click)="goToTarget()">Personal Targets</a>
                <a (click)="goToClientFeedback()">Client Feedback</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Qualification</button>
            <div class="dropdown-content">
                <a *ngIf="employee && (employee.isCoach || employee.isCoachee)" type="button"
                    (click)="goToCompare()">Compare</a>
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Employees</button>
            <div class="dropdown-content">
                <a (click)="goToAssistance()">Assistance</a>
                <a (click)="goToSearchByPersonalTarget()">Search By Personal Target</a>
                <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
                    <a (click)="goToSearch()">Search By Skill & Rating</a>
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="employee && employee.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </ng-container>
            </div>
        </div>
<button><a type="button" (click)="onLogout()">Logout</a></button>
    </div>
</div>
<ng-container *ngIf="employee && employee.idEmployee === this.coachee.idEmployee">
    <h1 class="title">
        <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name"> {{
            employee.lastName }}</span> - Assessment history
    </h1>
    <p class="slogan">Explore your complete assessment history</p>
</ng-container>
<ng-container *ngIf="employee && employee.idEmployee !== this.coachee.idEmployee && employee">
    <h1 class="title">
        Welcome <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name"> {{
            employee.lastName }}</span> in <span class="coachee-name">{{ this.coacheeFirstName }} </span> <span
            class="coachee-name">{{ coacheeLastName }}</span>'s assessment history
    </h1>
    <p class="slogan">This space is to display the complete assessment history of your employee</p>
</ng-container>


<!-- <h1 class="title" >{{coach.firstName}} Assessment History</h1>
<p class="slogan">Explore your complete assessment history</p> -->
<div>
    <table class="table">
        <thead>
            <tr>
                <th class="sortable" (click)="sort('category')"
                    [ngClass]="{ 'asc': sortBy === 'category' && sortDirection === 'asc', 'desc': sortBy === 'category' && sortDirection === 'desc' }">
                    Category
                </th>
                <th class="sortable" (click)="sort('skill')"
                    [ngClass]="{ 'asc': sortBy === 'skill' && sortDirection === 'asc', 'desc': sortBy === 'skill' && sortDirection === 'desc' }">
                    Skill
                </th>
                <th class="sortable" (click)="sort('rating')"
                    [ngClass]="{ 'asc': sortBy === 'rating' && sortDirection === 'asc', 'desc': sortBy === 'rating' && sortDirection === 'desc' }">
                    Rating
                </th>
                <th class="sortable" (click)="sort('date')"
                    [ngClass]="{ 'asc': sortBy === 'date' && sortDirection === 'asc', 'desc': sortBy === 'date' && sortDirection === 'desc' }">
                    Date
                </th>
            </tr>
        </thead>
        <!-- <tbody class="assessment-table"></tbody> -->

        <tbody class="assessment-table">
            <ng-container *ngFor="let group of groupedAssessments.reverse(); let i = index">
                <tr>
                    <td class="category-name" [attr.rowspan]="group.assessments.length"
                        [ngClass]="getCategoryColor(group.category)">
                        {{ group.category }}
                    </td>
                    <td class="skill-name">{{ group.assessments[0].skill.skillName }}</td>
                    <td class="rating">{{ group.assessments[0].rating }}</td>
                    <td class="date">{{ group.assessments[0].assessmentDate }}</td>
                </tr>
            </ng-container>
        </tbody>