.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgba(172, 172, 172, 0.801);
}

.logo-container {
    margin-right: auto;
}

.button-container {
    /* display: flex; */
    align-items: center;
    margin-right: auto;
}

.button-container button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(247, 106, 19);
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(49, 70, 225);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* text: white; */
    text-decoration: none;
}

.button-container a {
    /* color: rgb(234, 226, 226); */
    text-decoration: none;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(242, 167, 120);
}

.button-container .active {
    /*  color: rgb(234, 226, 226);*/
    color: rgb(242, 167, 120);
}

.logo {
    height: 50px;
    width: auto;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nav-container a {
    color: rgb(234, 226, 226);
    text-decoration: none;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration-color: white;
}

.dropbtn {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(247, 106, 19);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-decoration-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: rgba(217, 217, 217, 0.801);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: rgb(247, 106, 19);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(242, 167, 120);
}
label {
    margin-bottom: 5px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 10px;
    /* width: 90%; */
    margin-left: 10px;
    margin-right: 20px;


}

.title {
    text-align: center;
    color: #000;
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

.slogan {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: medium;
}

.employee-name {
    color: #ff6600;
    /* Change the color for the employee's name */
}

.coachee-name {
    color: #3366ff;
    /* Change the color for the coachee's name */
}

/* .table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
} */

/* .table tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(247, 106, 19);
    color: white;
}
.assessment-separator td {
    background-color: rgba(237, 125, 55, 0.861);
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th,
td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: #ccc;
}
td.skill-name {

    text-transform: uppercase;
}
*/
td.rating {
    color: blue;
}

td.date {
    font-style: italic;
} 
.category-color1 {
    background-color: #FFCCCC;
    /* Replace with your desired color */
}

.category-color2 {
    background-color: #CCFFCC;
    /* Replace with your desired color */
}

.category-color3 {
    background-color: #adadf5;
    /* Replace with your desired color */
}

.category-row {
    background-color: #F2F2F2;
    /* Replace with your desired color */
}

.first-row {
    font-weight: bold;
}
.newest-assessment {
    font-weight: bold;
    background-color: #00FF00;
    /* Replace with your desired color */
}
th.sortable {
    cursor: pointer;
    position: relative;
}

.sortable::after {
    content: '';
    position: revert;
    
    transform: translateY(-50%);
    
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: transform 0.3s ease;
}

.sortable.asc::after {
    border-bottom: 5px solid #fff;
}

.sortable.desc::after {
    border-top: 5px solid #fff;
    transform: translateY(-50%) rotate(0deg);
}