<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a type="button" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn" class="active">My Assessments</button>
            <div class="dropdown-content">
                <a  (click)="goToAssessment()">New Assessment</a>
                <a class="active" (click)="goToMyAssessmentHistory()">History</a>
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Personal Targets</button>
            <div class="dropdown-content">
                <a (click)="goToTarget()">New Personal Target</a>
            </div>
        </div>
        <div class="dropdown">
            <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
                <button class="dropbtn">People</button>
                <div class="dropdown-content">
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="employee && employee.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-container *ngIf="employee && employee.idEmployee === this.coachee.idEmployee">
    <h1 class="title">
        Welcome <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name"> {{
            employee.lastName }}</span> in Your assessment history
    </h1>
    <p class="slogan">Explore your complete assessment history</p>
</ng-container>
<ng-container *ngIf="employee && employee.idEmployee !== this.coachee.idEmployee && employee">
    <h1 class="title">
        Welcome <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name"> {{
            employee.lastName }}</span> in <span class="coachee-name">{{ this.coacheeFirstName }} </span> <span
            class="coachee-name">{{ coacheeLastName }}</span>'s assessment history
    </h1>
    <p class="slogan">This space is to display the complete assessment history of your employee</p>
</ng-container>


<!-- <h1 class="title" >{{coach.firstName}} Assessment History</h1>
<p class="slogan">Explore your complete assessment history</p> -->
<div>
<table class="table">
    <thead>
        <tr>

            <th>Category</th>
            <th>Skill</th>
            <th>Rating</th>
            <th>Date</th>
        </tr>
    </thead>
    <!-- <tbody class="assessment-table"></tbody> -->

<tbody class="assessment-table">
    <ng-container *ngFor="let group of groupedAssessments.reverse(); let i = index">
        <tr>
            <td class="category-name" [attr.rowspan]="group.assessments.length"
                [ngClass]="getCategoryColor(group.category)">
                {{ group.category }}
            </td>
            <td class="skill-name">{{ group.assessments[0].skill.skillName }}</td>
            <td class="rating">{{ group.assessments[0].rating }}</td>
            <td class="date">{{ group.assessments[0].assessmentDate }}</td>
        </tr>
        
    </ng-container>
</tbody>





































