<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a class="active" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessment</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>
            </div>
        </div>
        <ng-container *ngIf="coach && (coach.isCoach || coach.isManager)">
            <button>
                <a (click)="goToPeople()">People</a>
            </button>
        </ng-container>
    </div>
</div>
<div class="coachee-list">
    <h2>My employees:</h2>
    <ul>
        <li *ngFor="let coachee of coacheeList || employee of employeeList">
            <span class="coachee-name">{{ coachee.firstName }} {{ coachee.lastName }}</span>
            <button class="btn" (click)="onCoacheeSelect(coachee.idEmployee)">Assessments</button>
            <button class="btn" (click)="onRatingSelect(coachee.idEmployee)">Rating</button>
        </li>
    </ul>
</div>

<div class="assessment-table">
    <h2>Assessments:</h2>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    
        <table *ngIf="!errorMessage">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Rating</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assessment of assessments">
                    <td class="skill-name">{{ skillService.getSkillName(assessment.idSkill) }}</td>
                    <td class="rating">{{ assessment.rating }}</td>
                    <td class="date">{{ assessment.assessmentDate }}</td>
                </tr>
            </tbody>
        </table>
   
</div>



<!-- <ul>
    <li *ngFor="let coachee of coacheeList; let i = index">
        {{ coachee.firstName }} {{ coachee.lastName }} - {{ skillNames }} - {{assessments}}
        <button (click)="getAssessments(coachee.idEmployee)">View Assessments</button>
    </li>
</ul> -->