<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a type="button" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Personal Targets</button>
            <div class="dropdown-content">
                <a (click)="goToTarget()">New Personal Target</a>
            </div>
        </div>
        <div class="dropdown">
            <ng-container *ngIf="coach && (coach.isCoach || coach.isManager)">
                <button class="dropbtn" class="active">People</button>
                <div class="dropdown-content">
                    <a class="active" (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="coach && coach.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-container *ngIf="coach && coach.isCoach">
    <div class="coachee-table">
        <h1 class="title">Team Overview</h1>
        <p class="slogan">Explore the list of employees in your team.</p>

        <div class="form-group">
            <div *ngFor="let criteria of searchCriteria; let i = index">
                <div class="form-group">
                    <label for="skills{{i}}">Skill:</label>
                    <select id="skills{{i}}" name="skills" [(ngModel)]="criteria.skill">
                        <option *ngFor="let skill of skills" [value]="skill.skillName">{{ skill.skillName }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ratings{{i}}">Rating:</label>
                    <select id="ratings{{i}}" name="ratings" [(ngModel)]="criteria.rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn" (click)="addCriteria()">Add Another Criteria</button>
                </div>
                <div class="form-group">
                    <button class="btn-danger" *ngIf=" i > 0" (click)="deleteCriteria(i)">Delete Criteria</button>
                </div>
            </div>
            <button class="btn" (click)="searchConsultantsBySkillsAndRatings()">Search</button>
        </div>
</div>





<div>
<table class="table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
<!-- <div class="coachee-list"> -->
    
    <ng-container *ngIf="coach && coach.isCoach">
        <tr *ngFor="let coachee of coacheeList || employee of employeeList">
            <td class="coachee-name">{{ coachee.firstName }} {{ coachee.lastName }}</td>
           <td>
                <button class="btn" (click)="onAssessmentSelect(coachee.idEmployee)">Assessments</button>
                <button class="btn" (click)="onRatingSelect(coachee.idEmployee)">Rating</button>
                <button class="btn" (click)="onPersonalTargetSelect(coachee.idEmployee)">Personal Target</button>
            </td>
        </tr>
    </ng-container>
    </tbody>
    </table>
</div>
<ng-container *ngIf="coach && coach.isCoach">
<!-- <div class="assessment-table">
    <h2>Assessments</h2>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    
        <table *ngIf="!errorMessage">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Rating</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assessment of assessments">
                    <td class="skill-name">{{ skillService.getSkillName(assessment.idSkill) }}</td>
                    <td class="rating">{{ assessment.rating }}</td>
                    <td class="date">{{ assessment.assessmentDate }}</td>
                </tr>
            </tbody>
        </table>
   
</div> -->
</ng-container>
</ng-container>
<ng-container *ngIf="coach && coach.isManager">
<div class="coachee-table">
    <h2>Employee List</h2>
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- <div class="coachee-list"> -->

            
                <tr *ngFor="let employee of employeeList">
                    <td class="coachee-name">{{ employee.firstName }} {{ employee.lastName }}</td>
                    <td>
                        <button class="btn" (click)="onAssessmentSelect(this.employee.idEmployee)">Assessments</button>
                        <button class="btn" (click)="onRatingSelect(employee.idEmployee)">Rating</button>
                        <button class="btn" (click)="onPersonalTargetSelect(employee.idEmployee)">Personal Targets</button>
                    </td>
                </tr>
            
        </tbody>
    </table>
</div>
</ng-container>



<!-- <ul>
    <li *ngFor="let coachee of coacheeList; let i = index">
        {{ coachee.firstName }} {{ coachee.lastName }} - {{ skillNames }} - {{assessments}}
        <button (click)="getAssessments(coachee.idEmployee)">View Assessments</button>
    </li>
</ul> -->
<div *ngIf="searchPerformed"> <h2>The Result of your search</h2></div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Role</th>
                <th>Experience Level</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="coach && coach.isCoach">
                <tr *ngFor="let consultant of getFilteredConsultants()">
                    <td class="coachee-name">{{ consultant.employeeDetails?.firstName }} {{
                        consultant.employeeDetails?.lastName }}</td>
                    <td class="coachee-name">{{ consultant.employeeDetails?.role }}</td>
                    <td class="coachee-name">{{ consultant.employeeDetails?.experienceLevel }}</td>
            
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>