<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a type="button" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My MBO</button>
            <div class="dropdown-content">
                <a [routerLink]="['/personal-target', this.coach.idEmployee]">New Personal Target</a>
                <a (click)="goToClientFeedback()">Client Feedback</a> 
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Qualification</button>
            <div class="dropdown-content">
                <a *ngIf="employee && (coach.isCoach || coach.isCoachee)" type="button"
                    (click)="goToCompare()">Compare</a>
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <ng-container *ngIf="coach && (coach.isCoach || coach.isManager)">
                <button class="dropbtn">Employees</button>
                    <div class="dropdown-content">
                        <a (click)="goToSearch()">Search</a>
                        <a class="active" (click)="goToPeople()">My Team</a>

                        <ng-container *ngIf="coach && coach.isManager">
                            <a (click)="goToSkillsOverview()">Skills Overview</a>
                        </ng-container>
                    </div>
            </ng-container>
        </div>

    </div>
</div>
<ng-container *ngIf="coach && coach.isCoach || coach.isManager ">


    <div class="coachee-table">

        <h1 class="title">Team Overview</h1>
        <p class="slogan">Explore the list of employees in your team.</p>
    </div>

    <ng-container *ngIf="coach && coach.isCoach">

        <div class="container-box">
            <div class="search-section">
                <p class="text">To find the right employees based on skills and personal targets, click the button:</p>
                <button class="searchEmployee" (click)="goToSearch()">Search Employees</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>



                    <tr *ngFor="let coachee of coacheeList || employee of employeeList">
                        <td class="coachee-name">{{ coachee.firstName }} {{ coachee.lastName }}</td>
                        <td class="coachee-name">{{ coachee.role }} </td>
                        <td>
                            <button class="btn" (click)="onAssessmentSelect(coachee.idEmployee)">Assessments</button>
                            <button class="btn" (click)="onRatingSelect(coachee.idEmployee)">Rating</button>
                            <button class="btn" (click)="onPersonalTargetSelect(coachee.idEmployee)">Personal
                                Target</button>
                                
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ng-container>
    <!-- <ng-container *ngIf="coach && coach.isCoach || coach.isManager"> -->
    <!-- <div class="assessment-table">
    <h2>Assessments</h2>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    
        <table *ngIf="!errorMessage">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Rating</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assessment of assessments">
                    <td class="skill-name">{{ skillService.getSkillName(assessment.idSkill) }}</td>
                    <td class="rating">{{ assessment.rating }}</td>
                    <td class="date">{{ assessment.assessmentDate }}</td>
                </tr>
            </tbody>
        </table>
   
</div> -->
</ng-container>
<!-- </ng-container> -->
<ng-container class="container-box" *ngIf="coach && coach.isManager">
    <div class="coachee-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- <div class="coachee-list"> -->


                <tr *ngFor="let employee of employeeList">
                    <td class="coachee-name">{{ employee.firstName }} {{ employee.lastName }}</td>
                    <td class="coachee-name">{{ employee.role }}</td>
                    <td>
                        <button class="btn" (click)="onAssessmentSelect(this.employee.idEmployee)">Assessments</button>
                        <button class="btn" (click)="onRatingSelect(employee.idEmployee)">Rating</button>
                        <button class="btn" (click)="onPersonalTargetSelect(employee.idEmployee)">Personal
                            Targets</button>
                            <button class="btn" (click)="onClientFeedbackSelect(employee.idEmployee)">Add Client Feedback</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</ng-container>