<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
<div class="dropdown">
    <button class="dropbtn">Profile</button>
    <div class="dropdown-content">
        <a (click)="goToProfile()">My Profile</a>
        <a  (click)="goToTargetRole()">My Target Role</a>
    </div>
</div>

        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My MBO</button>
            <div class="dropdown-content">
                <a (click)="goToTarget()">Personal Targets</a>
                <a (click)="goToClientFeedback()">Client Feedback</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Qualification</button>
            <div class="dropdown-content">
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">

            <button class="dropbtn" class="active">Employees</button>
            <div class="dropdown-content">
                <a (click)="goToAssistance()">Assistance</a>
                <a (click)="goToSearchByPersonalTarget()">Search By Personal Target</a>
                <ng-container *ngIf="manager && (manager.isCoach || manager.isManager)"> <a
                        (click)="goToSearch()">Search By Skill & Rating</a>
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="manager && manager.isManager">
                        <a class="active" (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </ng-container>
            </div>
        </div>
<button><a type="button" (click)="onLogout()">Logout</a></button>
    </div>
</div>

<h1 class="title">
    <span class="employee-name">{{ manager.firstName }} </span> <span class="employee-name">{{
        manager.lastName }}</span> - Average Ratings Dashboard
</h1>
<p class="slogan">Discover the average ratings for each skill based on the latest assessments submitted by team members. Gain a comprehensive overview of your team's strengths and areas for improvement.</p>
<div>
    <canvas id="ratingChart"></canvas>
</div>