.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.logo-container {
    margin: auto;
}

.button-container {
    /* display: flex; */
    align-items: center;
    margin-right: auto;
}

.button-container button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgba(23, 175, 156, 255);
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(49, 70, 225);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* text: white; */
    text-decoration: none;
}

.button-container a {
    /* color: rgb(234, 226, 226); */
    text-decoration: none;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(70, 86, 139);
}

.button-container .active {
    /*  color: rgb(234, 226, 226);*/
    color: rgb(91, 107, 156);
}

.logo {
    height: 50px;
    width: auto;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nav-container a {
    color: rgb(234, 226, 226);
    text-decoration: none;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration-color: white;
}

.dropbtn {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(70, 86, 139);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-decoration-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: rgba(217, 217, 217, 0.801);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: rgb(70, 86, 139);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(70, 86, 139);
}

#ratingChart {
    width: 100%;
    height: 400px;
    margin-top: 0px;
}