<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a class="active" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessment</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>
                <a (click)="goToMyRating()">Skill Rating</a>
            </div>
        </div>
        <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
            <button>
                <a (click)="goToPeople()">People</a>
            </button>
        </ng-container>
    </div>
</div>

<div class="form-container">
    
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" formControlName="firstName" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" formControlName="lastName" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" formControlName="email" readonly>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" formControlName="password" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" formControlName="phone" required>
        </div>
        
        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" id="role" name="role" formControlName="role" readonly>
        </div>
        <div class="form-group">
            <label for="isCoach">Is Coach?</label>
            <input type="text" id="isCoach" name="isCoach" formControlName="isCoach" readonly>
        </div>
        <div class="form-group">
            <label for="isManager">Is Manager?</label>
            <input type="text" id="isManager" name="isManager" formControlName="isManager" readonly>
        </div>
        <div class="form-group">
            <label for="isCoachee">Is Coachee?</label>
            <input type="text" id="isCoachee" name="isCoachee" formControlName="isCoachee" readonly>
        </div>
        <div class="Sub">
            <button type="submit" [disabled]="!employeeForm.valid">Save</button>
            <button type="button" (click)="cancel()">Cancel</button>
        </div>
        
    </form>
</div>