<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./login.component.css" />
    <link rel="stylesheet" href="./login.component.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela Round:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
</head>

<body>
    <article class="login">
        <img class="images-1-icon" alt="" src="../assets/images/background.jpg" />
        <div class="banner">
            <div class="banner-child"></div>
            <img class="logo-color-1-icon" alt="" src="../assets/images/Logo-color.png" />
        </div>
        <div class="login-child"></div>
        

        <img class="user-circle-1-icon" alt="" src="./assets/images/images.png" />
        <div class="login-item"></div>
        <div class="e-mail-address">
            <div class="e-mail-address-child"></div>
            <div class="e-mail-address-item"></div>
            <div class="div">@</div>
            <div class="e-mail-address1"><input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                    class="form-control" id="email" placeholder="Enter Email"></div>
        </div>
        <div class="password">
            <div class="e-mail-address-child"></div>
            <div class="e-mail-address-item"></div>
            <img class="locked-password-1-icon" alt="" src="./assets/images/lockedpassword.png" />
            <div class="password1"><input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                    class="form-control" id="password" class="form-control" placeholder="Enter Password"></div>
        </div>
        <div class="rectangle-parent" id="groupContainer" (click)="Login()" type="submit">
            <div class="group-child"></div>
            <div class="button-container"><button> <a type="button" (click)="Login()" type="submit"> LOGIN</a></button>
            </div>
            <!-- <button><a type="button" (click)="goToHome()">Home</a></button> -->
        </div>
        <!-- <div><button type="submit" class="btn btn-primary" (click)="Login()"> Login</button></div>
             -->
    </article>


</body>