<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a type="button" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My MBO</button>
            <div class="dropdown-content">
                <a (click)="goToTarget()">New Personal Target</a>
                <a (click)="goToClientFeedback()">Client Feedback</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Qualification</button>
            <div class="dropdown-content">
                <a *ngIf="employee && (employee.isCoach || employee.isCoachee)" type="button"
                    (click)="goToCompare()">Compare</a>

                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
                <button class="dropbtn">Employees</button>
                <div class="dropdown-content">
                    <a (click)="goToSearch()">Search</a>
                    <a  class="active" *ngIf="employee && employee.isCoach" (click)="goToAssistance()">Assistance</a>
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="employee && employee.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </div>
            </ng-container>
        </div>

    </div>
</div>
<div *ngIf="employee && employee.isCoach">
<h1 class="title">
    Welcome <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name"> {{
        employee.lastName }}</span> in your Assistance page
</h1>
<p class="slogan">This space where you can find an assistance </p>
</div>


    <div class="form-group" class="container-box">
        <div class="input-list" style="text-align: center;" >
        <label style="margin-left: 30px;margin-right: 10px;">Problem Area:</label>
        <select name="selectedCategory" [(ngModel)]="selectedSkill">
            <option *ngFor="let skill of skills" [value]="skill.idSkill">{{ skill.skillName }}</option>
        </select>
        <button class="button-search" style="margin-left: 30px" (click)="getAssistanceByEmployeeAndCategory(selectedSkill, employee.idEmployee)">Search</button>
    </div>
    </div>
    <!-- Display employees and their details in a table -->
    <table class="table" *ngIf="employees && employees.length > 0">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Score</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees; let i= index;">
                <td >{{ employee.firstName }} {{ employee.lastName }}</td>
                <td>{{ ratings[i] }}%</td>
                <td class="coachee-name">{{ employee.email }}</td>
                <td class="search"><button (click)="sendEmail(employee.email)">Contact</button></td>
            </tr>
        </tbody>
        
    </table>