<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a type="button" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" class="active">My MBO</button>
            <div class="dropdown-content">
                <a class="active" (click)="goToTarget()">New Personal Target</a>
                <a (click)="goToClientFeedback()">Client Feedback</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Qualification</button>
            <div class="dropdown-content">
                <a *ngIf="employee && (employee.isCoach || employee.isCoachee)" type="button"
                    (click)="goToCompare()">Compare</a>
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Employees</button>
            <div class="dropdown-content">
                <a (click)="goToAssistance()">Assistance</a>
                <a (click)="goToSearchByPersonalTarget()">Search By Personal Target</a>
                <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
                    <a (click)="goToSearch()">Search By Skill & Rating</a>
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="employee && employee.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </ng-container>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <ng-container *ngIf="idEmployee === coacheeId">
        <h1 class="title">
            Welcome <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name">{{
                employee.lastName }}</span> in Your Personal Targets
        </h1>
        <p class="slogan">This space is to define your personal targets</p>
    </ng-container>
    <ng-container *ngIf="idEmployee !== coacheeId">
        <h1 class="title">
            Welcome <span class="employee-name">{{ employee.firstName }}</span> <span class="employee-name"> {{
                employee.lastName }}</span> in <span class="coachee-name">{{ coacheeFirstName }} </span> <span
                class="coachee-name">{{ coacheeLastName }}</span>'s Personal Targets
        </h1>
        <p class="slogan">This space is to define personal targets for your employee</p>
    </ng-container>



    <div class="input-list" style=" margin-right: 10px;">
        <div style="margin:auto;">
            <div class="form-group">
                <label for="skill">Skill:</label>
                <select id="skill" name="skill" [(ngModel)]="personalTarget.skill">
                    <option *ngFor="let skill of skills" [ngValue]="skill.skillName">{{ skill.skillName }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input type="text" [(ngModel)]="personalTarget.description" class="form-desc">
            </div>
            <div class="form-group">
                <label>Acceptance Criteria:</label>
                <input type="text" [(ngModel)]="personalTarget.acceptanceCriteria" class="form-desc">
            </div>
            <div class="form-group">
                <label for="targetArea">Target Area:</label>
                <select id="targetArea" name="targetArea" [(ngModel)]="personalTarget.targetArea">
                    <option value="TRAINING">Training</option>
                    <option value="CDT">Client Delivery Target</option>
                    <option value="BD">Business Development</option>
                    <option value="SME">SME Task</option>
                    <option value="SF">Soft Skill</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="form-group">
                <label for="supportedValue">Supported Value:</label>
                <select id="supportedValue" name="supportedValue" [(ngModel)]="personalTarget.supportedValue">
                    <option value="CL" [selected]>CL - Continuous Learning</option>
                    <option value="FEEDBACK">Feedback</option>
                    <option value="TRUST">Trust</option>
                    <option value="HONESTY">Honesty</option>
                    <option value="OPC">OPC - Openness Towards Change</option>
                    <option value="PPDI">PPDI - Passion & Process Driven Innovation</option>
                    <option value="PCC">PCC - Proactive & Conscious Collaboration</option>
                    <option value="SOLIDARITY">Solidarity</option>
                </select>
            </div>
            <div class="form-group" style=" margin-left: 10px;">
                <label>Target Date:</label>
                <input [(ngModel)]="personalTarget.targetDate" type="number" id="targetDate" min="2023" max="2100">
            </div>
            <div class="form-group" style=" margin-left: 10px;">
                <label for="quarter">Quarter:</label>
                <select id="quarter" name="quarter" [(ngModel)]="personalTarget.quarter">
                    <option [selected]>First Quarter</option>
                    <option>Second Quarter</option>
                    <option>Third Quarter</option>
                    <option>Fourth Quarter</option>
                </select>
            </div>
        </div>
    </div>

    <div class="add">
        <button (click)="createPersonalTarget(personalTarget)" *ngIf="idEmployee === coacheeId">Add target</button>
        <button (click)="assignPersonalTarget(personalTarget)" *ngIf="idEmployee !== coacheeId">Assign Target</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Skill</th>
            <th id="desc">Description</th>
            <th>Acceptance Criteria</th>
            <th>Target Area</th>
            <th>Status</th>
            <th>Supported Value</th>
            <th>Defined By</th>
            <th>Target Date</th>
            <th>Quarter</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let target of personalTargets">
            <td>{{target.skill}}</td>
            <td>{{ target.description }}</td>
            <td>{{ target.acceptanceCriteria }}</td>
            <td>{{ target.targetArea }}</td>
            <td>
                <select [(ngModel)]="target.status" [disabled]="target === targetToUpdate">
                    <option *ngFor="let status of targetStatus" [value]="status">{{ status }}</option>
                </select>
            </td>
            <td>{{ target.supportedValue }}</td>
            <td>{{ target.definedBy }}</td>
            <td>{{ target.targetDate }}</td>
            <td>{{ target.quarter }}</td>
            <td class="add">
                <button (click)="confirmUpdate(target)" [disabled]="target === targetToUpdate">Update</button>
                <button (click)="confirmDelete(target)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="overlay" *ngIf="showAlert">
    <div class="alert-box">
        <h2>Confirmation</h2>
        <p>Are you sure you want to continue?</p>
        <div class="button-container">
            <button (click)="continue()">Continue</button>
            <button (click)="cancel()">Cancel</button>
        </div>
    </div>