<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a class="active" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessment</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>
                <a (click)="goToMyRating()">Skill Rating</a>
            </div>
        </div>
        <ng-container *ngIf="employee && (employee.isCoach || employee.isManager)">
            <button>
                <a (click)="goToPeople()">People</a>
            </button>
        </ng-container>
    </div>
</div>
<h2>Rating Changes</h2>

<form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="skillSelect">Skill</label>
        <select formControlName="skill" id="skill" class="form-control">
            <option *ngFor="let skill of skills" [ngValue]="skill">{{ skill.skillName }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input formControlName="startDate" type="date" id="startDate" class="form-control">
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input formControlName="endDate" type="date" id="endDate" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<canvas id="ratingChart"></canvas>