.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgba(172, 172, 172, 0.801);
}
.logo-container {
    margin-right: auto;
}
.button-container {
 align-items: center;
    margin-right: auto;
}
.button-container button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(247, 106, 19);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(49, 70, 225);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
.button-container a {
    text-decoration: none;
    cursor: pointer;
}
.button-container button:hover {
    background-color: rgb(242, 167, 120);
}
.button-container .active {
    color: rgb(242, 167, 120);
}
.logo {
    height: 50px;
    width: auto;
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;   
}
.form-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 50%;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;    
    box-sizing: border-box;
}
.form-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.nav-container a {
    color: rgb(234, 226, 226);
    text-decoration: none;
    cursor: pointer;
}
label {
    margin-bottom: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration-color: white;
}
.dropbtn {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(247, 106, 19);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-decoration-color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: rgba(217, 217, 217, 0.801);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content a:hover {
    background-color: rgb(247, 106, 19);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(242, 167, 120);
}
.title {
    text-align: center;
    color: #000;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}
.slogan {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: medium;
}
.employee-name {
    color: #ff6600;
}
.coachee-name {
    color: #3366ff;
}
.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    height: fit-content;
        margin-top: 40px;
}
.btn:hover {
    background-color: #3e8e41;
}
td.skill-name {

    text-transform: uppercase;
}
td.rating {
    color: blue;
}
td.date {
    font-style: italic;
}
 .errorMessage {
    font-weight: bold;
    color: #333;
} 
#ratingChart {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
}