<div class="header">
    <div class="logo-container">
        <img href="#default" class="logo" alt="" src="../assets/images/Logo-color.png" />
    </div>
    <div class="button-container">
        <button><a type="button" (click)="goToHome()">Home</a></button>
        <button> <a type="button" (click)="goToProfile()">Profile</a></button>
        <!-- <button> <a (click)="goToAssessment()">New Assessment</a></button> -->
        <div class="dropdown">
            <button class="dropbtn">My Assessments</button>
            <div class="dropdown-content">
                <a (click)="goToAssessment()">New Assessment</a>
                <a (click)="goToMyAssessmentHistory()">History</a>

            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My MBO</button>
            <div class="dropdown-content">
                <a [routerLink]="['/personal-target', this.id]">Personal Targets</a>
                <a (click)="goToClientFeedback()">Client Feedback</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">My Qualification</button>
            <div class="dropdown-content">
                <a *ngIf="coach && (coach.isCoach || coach.isCoachee)" type="button" (click)="goToCompare()">Compare</a>
                <a (click)="goToMyRating()">Ratings Over Time</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" class="active">Employees</button>
            <div class="dropdown-content">
                <a (click)="goToAssistance()">Assistance</a>
                <a (click)="goToSearchByPersonalTarget()">Search By Personal Target</a>
                <ng-container *ngIf="coach && (coach.isCoach || coach.isManager)">
                    <a class="active" (click)="goToSearch()">Search By Skill & Rating</a>
                    <a (click)="goToPeople()">My Team</a>
                    <ng-container *ngIf="coach && coach.isManager">
                        <a (click)="goToSkillsOverview()">Skills Overview</a>
                    </ng-container>
                </ng-container>
            </div>
        </div>

    </div>
</div>

<div class="coachee-table">
    <h1 class="title">Employee Search</h1>
    <p class="slogan">Find the right employees based on skills & ratings.</p>
    <div class="container-box">
        <div class="input-list" style="margin-top: 70px">
            <div class="form-group" style="text-align: center;">
                <h4 class="title-search">Search Employee by Skills and Ratings</h4>
            </div>
            <div *ngFor="let criteria of searchCriteria; let i = index">
                <div class="form-group">
                    <label for="skills{{i}}" style="margin-left: 30px;margin-right: 10px;">Skill:</label>
                    <select id="skills{{i}}" name="skills" [(ngModel)]="criteria.skill">
                        <option *ngFor="let skill of skills" [value]="skill.skillName">{{ skill.skillName }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ratings{{i}}" style="margin-left: 30px;margin-right: 10px;">Rating:</label>
                    <select id="ratings{{i}}" name="ratings" [(ngModel)]="criteria.rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn" style="margin-left: 30px;margin-right: 10px;" (click)="addCriteria()">Add
                        Another Criteria</button>
                </div>
                <div class="form-group">
                    <button class="btn-danger" *ngIf=" i > 0" (click)="deleteCriteria(i)">Delete Criteria</button>
                </div>
            </div>
            <button class="button-search" style="margin-left: 30px"
                (click)="searchConsultantsBySkillsAndRatings()">Search</button>
        </div>
    </div>
</div>

<div *ngIf="searchPerformed" class="container-box">
    <ng-container *ngIf="filteredConsultants.length <= 0">
        <h3 class="zeroResutat">No employees found with these Skills and Ratings</h3>
    </ng-container>
    <ng-container *ngIf="filteredConsultants.length>0">
        <h4 class="title-table">The Result of your search by Skills and Ratings</h4>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Role</th>
                        <th>Experience Level</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let consultant of getFilteredConsultants()">
                        <tr *ngIf="this.id !== consultant.idEmployee">
                            <td class="coachee-name">{{ consultant.employeeDetails?.firstName }} {{
                                consultant.employeeDetails?.lastName }}</td>
                            <td class="coachee-name">{{ consultant.employeeDetails?.role }}</td>
                            <td class="coachee-name">{{ consultant.employeeDetails?.experienceLevel }}</td>
                            <td class="coachee-name">{{ consultant.employeeDetails?.email }}</td>
                            <td><button class="btn" (click)="sendEmail(consultant.email)">Contact</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>