.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: rgba(172, 172, 172, 0.801);
}

.logo-container {
    margin-right: auto;
}

.button-container {
    /* display: flex; */
    align-items: center;
    margin-right: auto;
}

.button-container button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(247, 106, 19);
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(49, 70, 225);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* text: white; */
    text-decoration: none;
}

.button-container a {
    /* color: rgb(234, 226, 226); */
    text-decoration: none;
    cursor: pointer;
}

.button-container button:hover {
    background-color: rgb(242, 167, 120);
}

.button-container .active {
    /*  color: rgb(234, 226, 226);*/
    color: rgb(242, 167, 120);
}

.logo {
    height: 50px;
    width: auto;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nav-container a {
    color: rgb(234, 226, 226);
    text-decoration: none;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration-color: white;
}

.dropbtn {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(247, 106, 19);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    text-decoration-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: rgba(217, 217, 217, 0.801);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: rgb(247, 106, 19);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(242, 167, 120);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.title {
    text-align: center;
    color: #000;
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
}

.slogan {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: medium;
}
/* .input-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
} */
.input-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Add this line to horizontally center the elements */
    margin-top: 30px;
    gap: 10px;
    /* Add this line to create space between the elements */
}
.input-list h3 {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.inline-heading {
    display: inline;
    margin-right: 10px;
    /* Adjust the spacing as needed */
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
}
.search {
    margin-top: 20px;
}

.search button {
    margin-bottom: 10px;
    margin-left: 10px;
    /* margin: 10px; */
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    ;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.search button:hover {
    background-color: #3e8e41;
}

.search button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}





.select {
    top: 9px;
    left: 63px;
    font-size: var(--font-size-9xl);
    font-family: var(--font-varela-round);
    color: var(--color-darkslategray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 267px;
}